<footer>
    <h5>Follow Learn With Sarah</h5>
    <div class="links">
        <a href="https://t.me/e_IELTS" target="_blank"> 
            <img src="images/telegram-logo.png" id="telegramLogo">
            تلگرم
        </a>
        <div class="divider"></div>
        <a href="https://www.instagram.com/learn.with.sarah/" target="_blank">
            <img src="images/instagram-logo.png" id="instagramLogo">
            اینستگرم
        </a>
        <div class="divider"></div>
        <a href="http://www.linkedin.com/in/sarah-raad-6b250666">
            <img src="images/linkedin-logo.png" id="linkedinLogo">
            لینکدین
        </a>
    </div>
</footer>