<div class="menuBtn basicBtn">Menu <span class="dropdownArrow">&#9660;</span></div>
<div class="menu">
    <a class="basicBtn icon desktop" href="/index.html"><i class="fas fa-home"></i></a>
    <a class="basicBtn mobile" href="/index.html">صفحه اصلی</a>
     <div class="basicBtn dropdown">
        <div class="dropdownLabel">خدمات <span class="dropdownArrow">&#9660;</span></div>
        <div class="dropdownArea">
            <a class="basicBtn" href="/plans.html">برنامه ریزی Self Study </a>
            <a class="basicBtn" href="/onlineClasses.html">کلاس های آنلاین</a>
            <a class="basicBtn" href="/privateClasses.html">کلاس های خصوصی</a>
            <div class="basicBtn dropdown">
                <div class="dropdownLabel">تعیین سطح <span class="dropdownArrow">&#9654;</span></div>
                <div class="sub dropdownArea">
                    <a class="basicBtn" href="/levelTest.html">کتبی</a>
                    <a class="basicBtn" href="/oralLevelTest.html">شفاهی</a>
                    <div class="divider"></div>
                    <a class="basicBtn">Listening</a>
                    <a class="basicBtn">Reading</a>
                    <a class="basicBtn">Writing</a>
                </div>
            </div>
        </div>
    </div>

    <div class="basicBtn dropdown">
        <div class="dropdownLabel">IELTS / General<span class="dropdownArrow">&#9660;</span></div>
        <div class="dropdownArea">
            <a class="basicBtn">مقالات</a>
            <a class="basicBtn">فروم </a>
            <a class="basicBtn">ویدیو</a>
            <a class="basicBtn">آموزش لغات کتاب Vocabulary for IELTS</a>
            <a class="basicBtn">Ted Talks</a>
            <a class="basicBtn">معرفی وب سایت</a>
            <a class="basicBtn">معرفی اپلیکیشن</a>
            <a class="basicBtn">How To</a>
            <a class="basicBtn">English Chat</a>
        </div>
    </div>
    <a class="basicBtn" href="/selfStudy.html">Self Study</a>
    <a class="basicBtn">یادگیری مستقل</a>
    <a class="basicBtn" href="/faq.html">سوالات متداول</a>
</div>